body{
    
    margin:auto 0;
    background-color: hsl(180, 52%, 96%);
    font-family: 'League Spartan';
    font-weight: bold;
}
.wraper{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    
    justify-content: center;
    margin: 0;
    background: #63BABA;
    
    height: 155px;
    
}
.headerImage{
    margin-bottom: 50px;
    background-color: hsl(180, 29%, 50%);
    background-image: url("./images/bg-header-desktop.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height:155px;
    width: 1430px;
}
.logo{
    margin-right: 20px;
}
.filterCard{
    
    
    box-sizing:border-box;
    margin:0 auto;
    display: flex;
    align-items: center;
   
    box-shadow: 0px 5px 15px hsla(178, 66%, 23%, 0.211);
    background-color: rgb(255, 255, 255);
    width: 50vw; 
    height: 70px;
    min-width: 800px;
    border-radius: .5em;
    margin-top:-35px;
    margin-bottom: 10px;
    
}
.card{
    box-sizing:border-box;
    margin:auto;
    display: flex;
    align-items: center;
    
    box-shadow: 0px 10px 30px hsla(178, 66%, 23%, 0.211);
    background-color: rgb(255, 255, 255);
    width: 50vw; 
    min-width: 800px;
    border-radius: .5em;
    margin-top: 50px;
    padding: 30px;
}
.card:hover{
    border-left: 5px solid hsl(180, 29%, 50%);
    
}
.companyInfo{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    min-width: 300px;
   
}
.companyName{
    margin-right: 20px;
   
}
li, p{
    margin: 0;
    color: hsl(180, 29%, 50%);
    
    
}
ul{
    display: flex;
    align-items: baseline;
    
    margin: 0;
    padding: 0;
    list-style: none;
}
.tags{
    margin-left: auto;
    flex-wrap: wrap;
    gap: 20px 10px;
    
}
.tags > li{
    background-color: hsl(180, 52%, 96%);
    padding: 10px;
    border-radius: 5px;
    font-size: small;
    
}
.tags > li:hover{
    color: white;
    background-color:hsl(180, 29%, 50%);
}
.companyHeader > li{
    
    font-weight: 700;
    font-size:large;
}
li.new,li.featured{
    color: white;
    font-weight: 500;
    text-transform:uppercase ;
    font-size: small;
    
    padding: 5px 8px 4px 8px;
    border-radius: 15px;
    background-color:hsl(180, 29%, 50%);
}
li.featured{
    background-color: black;
    margin-left: 5px;

}

p{
    margin: 0;
    padding: 15px 0;
    color: hsl(180, 14%, 20%);
    
    font-weight: 700;
    font-size:1.4em;
}
p:hover{
    color: hsl(180, 29%, 50%);;
}
.companyFooter > li{
    
    font-weight: 500;
    font-size:medium;
    color: hsl(180, 8%, 52%);
    list-style:disc ;
    list-style-position: inside;
    
}
.companyFooter > li:first-child{
    list-style: none;

}
.companyFooter > li:last-child{
    margin-right: 50px;
}
.companyFooter{
    justify-content:space-between;
    
}
li.active{
    color: white;
    background-color:hsl(180, 29%, 50%);
}
